@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #c5c5c5;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}
